<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head'); -%>
    <title>Tweetplug | Admin Dashboard</title>
<body>
   <%- include('../partials/nav'); -%>
    <main>
        <div class="container">
            <!-- admin welcome message -->
            <div class="welcome-user mt-5">
                <p><strong><span id="admin-username">administrator <%= locals.user.username %></span>, Welcome to your admin dashboard! From here you can manage all influencers and set tasks</strong></p>
            </div>
        </div>
        <section>
            <div class="container">
                <h2 class="text-center my-5">Today's Tasks</h2>
                <form action="/admin/newtask" class="tweetLinks" method='POST'>
                    <div class="tweet-links row">
                        <fieldset class="form-group col-md-4">
                            <label for="tweet-1">Tweet #1: <span></span></label>
                            <textarea name="tweet1" id="tweet-1" rows="5" placeholder="Enter task details" ></textarea>
                        </fieldset>
                        <fieldset class="form-group col-md-4">
                            <label for="tweet-2">Tweet #2: <span></span></label>
                            <textarea name="tweet2" id="tweet-2" rows="5" placeholder="Enter task details" ></textarea>
                        </fieldset>
                        <fieldset class="form-group col-md-4">
                            <label for="tweet-3">Tweet #3: <span></span></label>
                            <textarea name="tweet3" id="tweet-3" rows="5" placeholder="Enter task details" ></textarea>
                        </fieldset>
                    </div>
                    <button type="submit" class="submit-btn">Add New Tasks</button>
                </form>
            </div>
        </section>
         <!-- Daily Tasks -->
         <section>
            <div class="container">
                <h2 class="text-center mb-3">Current Tasks</h2>
                <!-- Task Data Table -->
                <table id="tasks" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Task</th>
                            <th>Hours left</th>
                            <th>Active</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% tasks.forEach ((task, index )=> { %>
                        <tr>
                            <td> <%= index + 1 %></td>
                            <% const currentTime = momenttz().tz('Africa/Lagos').format('HH:mm:ss') %>
                            <% const timeLeft = 22 - parseInt(currentTime.split(':')[0])%>
                            <% if (timeLeft > 0) { %> 
                            <td><%= timeLeft %> Hours Left</td>
                            <% } else {%>
                            <td>Expired</td>
                            <% } %>
                            <td><%= task.active %></td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>  
        </section>
        <!-- Manage subscribers section -->
        <section>
            <div class="container">
                <h2 class="text-center mb-3">Manage Subscribers</h2>
                <p class="text-center mb-3">Click on a username to manage subscriber</p>
                <!-- Subscribers Data Table -->
                <table id="influencers" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Twitter Handle</th>
                            <th>Current Plan</th>
                            <th>Total Revenue(&#8358;)</th>
                            <th>Remaining Duration</th>
                            <th>Today's task</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% users.forEach ( user => { %>
                        <tr>
                            <td><a href="/admin/user/<%=user._id %>"><%=user.username %></a></td>
                            <td><%= user.twitterhandle %></td>
                            <td><%= user.Plan %></td>
                            <td><%= user.revenue %></td>
                            <td><%= user.timeLeft %> day(s)</td>
                            <%if (user.links.length > 0) {%>
                            <% if (moment(user.links[user.links.length - 1].createdAt).format('MMMM DD YYYY') !== moment().format('MMMM DD YYYY')) { %>
                            <% if(user.active == false ) {%>
                                <td> Suspended User</td>
                            <%} else { %>
                                <td> No link yet</td>
                            <%} %>
                            <% } else { %>
                            <% if(user.active == false ) {%>
                            <td> Suspended User</td>
                            <%} else { %>
                                <td><%= user.links[user.links.length -1].status %></td>
                            <%} %>
                             <% } %>
                            <%} else {%> 
                            <% if(user.active == false ) {%>
                                <td> Suspended User</td>
                            <%} else { %>
                             <td> No link yet</td>
                            <%} %>
                            <%} %>
                        </tr>
                    <% }) %>
                    </tbody>
                </table>
                <form action="/admin/links/confirmall" method="post">
                <% users.forEach( (user)=> {%>
                     <% if(user.links.length > 0 && user.links[user.links.length -1].status === 'unconfirmed')  {%>
                   
                <input type="hidden" name="userLinksID" value="<%= user._id %>">
                    <% } %>
                <% }) %>

                
                <button  type="submit" class="submit-btn mt-5">Confirm all links</button>
                </form>
            </div>  
        </section>
        <!-- Withdrawal Requests -->
        <section id="withdraw-requests">
            <div class="container">
                <h2 class="text-center my-4">Withdrawal Requests</h2>
                <!-- Withdrawal Requests table -->
                
                <table id="withdrawalRequests" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Withdrawal Amount(&#8358;)</th>
                            <th>Account No. & Bank</th>
                            <th>Account Holder</th>
                            <th>Total Revenue(&#8358;)</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% usersWithWithdrawals.forEach ( user => { %>
                        <tr>
                           
                            <td><a href="/admin/user/<%=user._id %>"><%= user.username %></a></td>
                            <td><%= user.withdrawals[0  + user.withdrawals.length -1].amount %></td>
                            <td><%=user.bankAccountNumber %> - <%=user.bank %></td>
                            <td><%= user.bankAccountName %></td>
                            <td><%= user.revenue %></td>
                            <td><%=user.withdrawals[0  + user.withdrawals.length -1].status %></td>
                            
                        </tr>
                    <% }) %>
                    </tbody>
                </table>
                <form action="/admin/confirmall" method="post">
                    <% usersWithWithdrawals.forEach ( (user, index) => { %>
                        <input type="hidden" name="withdrawal" value="<%= user.withdrawals[0  + user.withdrawals.length -1]._id %>">
                    <% }) %>
                <% if (usersWithWithdrawals.length > 0) {%>
                <button  type="submit" class="submit-btn mt-5">Confirm all Withdrawals</button>
                <% } %>
                </form>
            </div>
        </section>
    </main>
    
    
    <%- include('../partials/footer'); -%>
</body>
    
    <%- include('../partials/scripts'); -%>
<!-- Data Tables plugin -->
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
<script src="/assets/js/app.js"></script>
<script>
    // datatables plugin gotten from https://datatables.net/examples/styling/bootstrap4

    $(document).ready(function() {
        // Datatable plugin call
        $('#tasks').DataTable();
        $('#influencers').DataTable();
        $('#withdrawalRequests').DataTable();
    } );
</script>
</html>