<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head'); -%>
<body>
   <%- include('../partials/adminNav'); -%>
    <main>
        <div class="container">
            <!-- admin welcome message -->
            <div class="welcome-user mt-5">
                <p><strong><span id="admin-username">administrator <%= locals.user.username %></span>, Welcome to your admin dashboard! From here you can manage all influencers and set tasks</strong></p>
            </div>
        </div>
        <!-- Daily Tasks -->
        <section>
            <div class="container">
                <h2 class="text-center my-5">Today's Tasks</h2>
                <form action="" class="tweetLinks">
                    <div class="tweet-links row">
                        <fieldset class="form-group col-md-4">
                            <label for="tweet-1">Tweet #1: <span>(copy&paste)</span></label>
                            <textarea name="tweet-1" id="tweet-1" rows="5" readonly>Not available yet!</textarea>
                        </fieldset>
                        <fieldset class="form-group col-md-4">
                            <label for="tweet-2">Tweet #2: <span>(copy&paste)</span></label>
                            <textarea name="tweet-2" id="tweet-2" rows="5" readonly>Not available yet!</textarea>
                        </fieldset>
                        <fieldset class="form-group col-md-4">
                            <label for="tweet-3">Tweet #3: <span>(copy&paste)</span></label>
                            <textarea name="tweet-3" id="tweet-3" rows="5" readonly>Not available yet!</textarea>
                        </fieldset>
                    </div>
                    <button type="submit" class="button">Add New Tasks</button>
                </form>
            </div>
        </section>
        <!-- Manage subscribers section -->
        <section>
            <div class="container">
                <h2 class="text-center mb-3">Manage Subscribers</h2>
                <p class="text-center mb-3">Click on a username to manage subscriber</p>
                <!-- Subscribers Data Table -->
                <table id="influencers" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Twitter Handle</th>
                            <th>Current Plan</th>
                            <th>Total Revenue(&#8358;)</th>
                            <th>Remaining Duration</th>
                            <th>Today's task</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="manage-user.html">example_01</a></td>
                            <td>example_01</td>
                            <td>Free Trial</td>
                            <td>425</td>
                            <td>UNLIMITED</td>
                            <td>Pending confirmation</td>
                        </tr>
                        <tr>
                            <td><a href="manage-user.html">johndoe</a></td>
                            <td>johndoe</td>
                            <td>Junior Influencer</td>
                            <td>4500</td>
                            <td>28 Days</td>
                            <td>Open</td>
                        </tr>
                        <tr>
                            <td><a href="manage-user.html">justkind</a></td>
                            <td>just_kind</td>
                            <td>Whiz Influencer</td>
                            <td>3000</td>
                            <td>11 Days</td>
                            <td>Confirmed</td>
                        </tr>
                    </tbody>
                </table>
            </div>  
        </section>
        <!-- Withdrawal Requests -->
        <section id="withdraw-requests">
            <div class="container">
                <h2 class="text-center my-4">Withdrawal Requests</h2>
                <!-- Withdrawal Requests table -->
                <table id="withdrawalRequests" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Withdrawal Amount(&#8358;)</th>
                            <th>Account Number & Bank</th>
                            <th>Account Holder</th>
                            <th>Total Revenue(&#8358;)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="manage-user.html">example_01</a></td>
                            <td>2000</td>
                            <td>1122334455 - Access Bank</td>
                            <td>Example Lastname</td>
                            <td>4750</td>
                        </tr>
                        <tr>
                            <td><a href="manage-user.html">johndoe</a></td>
                            <td>3500</td>
                            <td>2233445566 - Zenith Bank</td>
                            <td>John Patrick Doe</td>
                            <td>6800</td>
                        </tr>
                        <tr>
                            <td><a href="manage-user.html">justkind</a></td>
                            <td>1000</td>
                            <td>1020304050 - GTB</td>
                            <td>Justice Emeka Kind</td>
                            <td>2300</td>
                        </tr>
                    </tbody>
                </table>
                <button class="button mt-5">Confirm all</button>
            </div>
        </section>
    </main>
    
    
    <%- include('../partials/footer'); -%>
</body>
    
    <%- include('../partials/scripts'); -%>
<!-- Data Tables plugin -->
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
<script src="assets/js/app.js"></script>
<script>
    // datatables plugin gotten from https://datatables.net/examples/styling/bootstrap4

    $(document).ready(function() {
        // Datatable plugin call
        $('#influencers').DataTable();
        $('#withdrawalRequests').DataTable();
    } );
</script>
</html>