<!DOCTYPE html>
<html lang="en">
     <%- include('../partials/head'); -%>
<body>
     <%- include('../partials/nav'); -%>
    <main>
        <section>
            <div class="container">
                <!-- User Profile Summary -->
                <h2 class="mb-4">Profile Summary</h2>
                <div id="user-summary">
                    <form action="/admin/user/status?_method=PATCH" method="post">
                        <p>Full Name: <span><%=userr.firstname %> <%=userr.lastname %></span></p>
                        <p>Username: <span><%= userr.username %></span></p>
                        <p>Total Revenue: <span>&#8358;<%= userr.revenue %></span></p>
                        <p>Current Plan: <span><%= userr.Plan %></span></p>
                        <p>Withdrawal Request: <span id=>Withdrawal</span></p>
                        <p>Remaining Duration: <span>Duration</span></p>
                        <p>Account Name: <span><%= userr.bankAccountName %></span></p>
                        <p>Account Number: <span><%=userr.bankAccountNumber %></span></p>
                        <p>Bank: <span><%=userr.bank %></span></p>
                        <p>Active User: <span><%=userr.active %></span></p>
                        <input type="hidden" name="user_id" value=<%=userr._id %>>
                        <input type="submit" value="Suspend Account" class="button sec-btn" name="user_s">
                        <input type="submit" value="Delete Account" class="button del-btn" name="user_d">
                    </form>
                    <a href="#" class="button">Change Plan</a>
                </div>
            </div>
        </section>
        <section>
            <div class="container action-confirm">
                <!-- Today's Action confirmation -->
                <h2 class="mb-5">Today's Action</h2>
                <form action="/admin/links/setstatus?_method=PATCH" id="" method="POST">
                <% userr.links.forEach((link, index) => { %>
                    <fieldset class="form-group">
                        <label for="tweet-link-1">Tweet link # <%=index + 1 %>:</label>
                        <input type="text" class="form-control" 
                        id="tweet-link-1"
                        <% if (link.status !== 'confirmed') { %>
                            value="<%=link.link%>"
                        } else {
                            value=""
                        }
                        <% } %>
                         >
                    </fieldset>
                <% }) %>
                    <input type="hidden" name="user_id" value="<%=userr._id%>">
                    <button type="submit"class="submit-btn mt-3">Confirm Tweets</button>
                </form>
            </div>
        </section>
    </main>
     <!-- Withdrawal History -->
     <section class="withdraw-history">
        <div class="container">
            <h2>Withdrawal Request</h2>
            <!-- table -->
            <form action="/admin/withdrawals/setstatus?_method=PATCH" method="POST">
            <table style="width:100%" class="my-5 pl-1">
                <tr>
                <th>#</th>
                <th>DATE</th>
                <th>AMOUNT</th> 
                <th>STATUS</th>
                </tr>
                <% if (userr.withdrawals[0] == undefined || userr.withdrawals[0  + userr.withdrawals.length -1].status =='approved' || userr.withdrawals[0  + userr.withdrawals.length -1].status =='rejected' ) {%>
                <tr>
                <td>Nil</td>
                <td>Nil</td>
                <td>&#8358;Nil</td>
                <td>Nil</td>
                </tr>
                <% } else if (userr.withdrawals[0  + userr.withdrawals.length -1].status =='unconfirmed' ) { %>
                <tr>
                <td>1</td>
                <td><%= moment(userr.withdrawals[0  + usrer.withdrawals.length -1].createdAt).format('MMMM Do YYYY') %></td>
                <td>&#8358;<%= userr.withdrawals[0  + userr.withdrawals.length -1].amount %></td>
                <td><%= userr.withdrawals[0  + userr.withdrawals.length -1].status %></td>
                </tr>
                <input type="hidden" name="userId" value="<%=userr._id %>">
                <input type="hidden" name="withdrawalID" value = "<%= userr.withdrawals[0  + userr.withdrawals.length -1]._id %>">
                <% } %>
            </table>
             <% if (userr.withdrawals[0] == undefined || userr.withdrawals[0  + userr.withdrawals.length -1].status =='approved' || userr.withdrawals[0  + userr.withdrawals.length -1].status =='rejected' ) {%>
            <p>No requests made yet</p>
            <% } else if (userr.withdrawals[0  + userr.withdrawals.length -1].status =='unconfirmed' ) { %>
            <input type="submit" name="withdrawB" value="Confirm_Withdrawal" class="submit-btn"> 
            <input type="submit" name="withdrawB" value="Deny_Withdrawal" class="submit-btn del-btn"> 
            <% } %>
            </form>
        </div>
    </section>
     <section class="withdraw-history">
        <div class="container">
            <h2>Withdrawal History</h2>
            <!-- table -->
            <table style="width:100%" class="my-5 pl-1">
                <tr>
                <th>#</th>
                <th>DATE</th>
                <th>AMOUNT</th> 
                <th>STATUS</th>
                </tr>
                <% userr.withdrawals.forEach((withdrawal,index) => {%>
                <tr>
                <td><%= index +1 %></td>
                <td><%=moment(withdrawal.createdAt).format('MMMM Do YYYY') %> </td>
                <td>&#8358;<%= withdrawal.amount %></td>
                <td><%= withdrawal.status %></td>
                </tr>
                <% }) %>
            </table>
        </div>
    </section>
     <%- include('../partials/footer'); -%>
</body>
     <%- include('../partials/scripts'); -%>
</html>