<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head'); -%>
    <title>Tweetplug | Change user plan</title>
<body>
    <%- include('partials/nav'); -%>
    <main>
        <section>
            <div class="container">
                <h1 class="large text-center">Personal Information</h1>
                <form id="editProfile" class="row">
                    <fieldset class="form-group col-md-6">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control" name="firstname" id="firstName" placeholder="First Name" aria-placeholder="First Name" required aria-required="true" value="<%=userr.firstname %>" readonly>
                    </fieldset>
                    <fieldset class="form-group col-md-6">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control" name="lastname" id="lastName" placeholder="Last Name" aria-placeholder="Last Name" required aria-required="true" value="<%=userr.lastname %>" readonly>
                    </fieldset>
                    <fieldset class="form-group col-md-6">
                        <label for="lastName">Current Plan</label>
                        <input type="text" class="form-control" name="lastname" id="lastName" placeholder="Last Name" aria-placeholder="Last Name" required aria-required="true" value="<%=userr.Plan %>" readonly>
                    </fieldset>
                </form>

                <h2 class="big col-md-12 mt-3 text-center">User Plan</h2>
                
                <form action="/admin/TEST/changeplan?_method=PATCH" method="POST" id="editProfile" class="row">
                    
                    <fieldset class="form-group col-12">
                        <label for="plan">Plan</label>
                        <select class="form-control" name="plan" id="plan" placeholder="Select Plan" aria-placeholder="Select Plan" required aria-required="true">
                            <option value="Free influencer" selected>Free Influencer</option>
                            <option value="Junior influencer">Junior Influencer</option>
                            <option value="Whiz influencer">Whiz Influencer</option>
                            <option value="Adept influencer">Adept Influencer</option>
                            <option value="Chief influencer">Chief Influencer</option>
                            <option value="Expert influencer">Expert Influencer</option>
                            <option value="Principal influencer">Principal Influencer</option>
                            <option value="Liege influencer">Liege Influencer</option>
                            <option value="Professional influencer">Professional Influencer</option>
                            <option value="Prime influencer">Prime Influencer</option>
                            <option value="Monarch influencer">Monarch Influencer</option>
                            <option value="Genius influencer">Genius Influencer</option>
                        </select>
                    </fieldset>
                    <input type="hidden" name="userId" value="<%=userr._id %>">
                    <button type="submit" class="submit-btn">Save Changes</button>
                </form>
            </div>
        </section>
    </main>
    <%- include('partials/footer'); -%>
</body>
    <%- include('partials/scripts'); -%>
</html>