<!DOCTYPE html>
<html lang="en">
     <%- include('partials/head'); -%>
     <title>Tweetplug | Reset Password</title>
<body>
     <%- include('partials/nav'); -%>
    <main>
       <div class="container text-center py-5">
            <h1 class="text-center large">Reset Password</h1>
            <form action="/resetpassword/<%=req.params.token%>?_method=PATCH" id="resetPassword" method="post">
                <fieldset class="form-group">
                    <input type="password" class="form-control" id="newPassword" placeholder="New Password" name="password" aria-placeholder="New Password" required aria-required="true">
                </fieldset>
                <fieldset class="form-group last-child">
                    <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" name="passwordConfirm" aria-placeholder="Confirm Password" required aria-required="true">
                </fieldset>
                <button type="submit" class="button">Reset Password</button>
            </form>
       </div>
    </main>
    <%- include('partials/footer'); -%>
</body>
     <%- include('partials/scripts'); -%>
</html>